<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fitedit.editors.FitnesseEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            filenames="content.txt"
            icon="icons/icon_doc.gif"
            id="fitedit.editors.FitnesseEditor"
            name="FitNesse Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fitedit.preferences.FitPreferencePage"
            id="fitedit.preferences.FitPreferencePage"
            name="FitNesse">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fitedit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fitedit.commands.category"
            name="FitEditor Action Category">
      </category>
      <command
            categoryId="fitedit.commands.category"
            id="fitedit.commands.refreshIndexCommand"
            name="Rebuild FitNesse Indexes">
      </command>
      <command
            categoryId="fitedit.commands.category"
            id="fitedit.commands.openFitnesseCommand"
            name="Open FitNesse">
      </command>
      <command
            categoryId="fitedit.commands.category"
            id="fitedit.command.format"
            name="FitNesse Format">
      </command>
      <command
            categoryId="fitedit.commands.category"
            id="fitedit.command.openBrowser"
            name="Open In Browser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fitedit.handlers.RefreshIndexHandler"
            commandId="fitedit.commands.refreshIndexCommand">
      </handler>
      <handler
            class="fitedit.handlers.OpenFitnesseResouceHandler"
            commandId="fitedit.commands.openFitnesseCommand">
      </handler>
      <handler
            class="fitedit.handlers.FormatHandler"
            commandId="fitedit.command.format">
      </handler>
      <handler
            class="fitedit.handlers.OpenBrowserHandler"
            commandId="fitedit.command.openBrowser">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fitedit.commands.openFitnesseCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+Z">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="fitedit.menus.fitMenu"
               label="FitNesse"
               mnemonic="M">
            <command
                  commandId="fitedit.commands.openFitnesseCommand"
                  id="fitedit.menus.openFitnesseCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="FitNesse">
            <command
                  commandId="fitedit.command.format"
                  label="Format"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="fitedit.definition.activeEditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="fitedit.command.openBrowser"
                  label="Open In Browser"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="fitedit.definition.activeEditor">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fitedit.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="fitedit.menu1"
               label="FitNesse"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fitedit.popup.actions.OpenBrowserAction"
               enablesFor="1"
               id="fitedit.newAction"
               label="Open In Browser"
               menubarPath="fitedit.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="fitedit.editorContribution1"
            targetID="fitedit.editorContribution1">
         <action
               class="fitedit.EditorActionDelegate1"
               id="fitedit.action1"
               label="label"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="fitedit.definition.activeEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="fitedit.editors.FitnesseEditor">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
